{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    "transform-runtime",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ]
}
